* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.todo-container{
    background-color: white;   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center; 
}
.process-area{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 55px;
}
#add-button {
    background-color: green;
    color: white;
    border-radius: 15%;
}

#add-button:hover {
    background-color: gray;
}

#complete-button {
    background-color: blue;
    color: white;
    border-radius: 15%;
}

#complete-button:hover {
    background-color: gray;
}